<form>


<div class="card text-center">

    <div class="card-body">
        
        <input type="number" id="num1" class="form-control " [(ngModel)]="num1" name="num1">
        <input type="number" id="num2" class="form-control " [(ngModel)]="num2" name="num2">
        <input type="number" id="num3" class="form-control " [(ngModel)]="num3" name="num3">

    <div>
      
    </div>
    <div class="card-footer text-muted">

        <button type="button"  class="btn btn-dark buttontamanho "  (click)="comparar()">Comparar</button>
                <div>
        <label class="labelstyle">{{resultado}}</label>
    </div>
    </div>
  </div>
  

</div>
</form>